@import "tailwindcss";

@plugin "@tailwindcss/typography";

:root {
  --bg-main: #ffffff;
  --bg-secondary: #f5f5f5;
  --primary: #e4002b;
  --primary-hover: #c80026;
  --secondary: #111111;
  --secondary-hover: #000000;
  --accent: #ffb3c0;
  --text-main: #111111;
  --text-muted: #525252;
  --border: #e5e5e5;
}

html {
  text-rendering: optimizeLegibility;
}

* {
  -webkit-tap-highlight-color: transparent;
}
